.item {
  width: 100%;
  display: grid;
  grid-template-columns: 45px 1fr;
  gap: var(--inner-gap);
  align-items: center;
  padding: var(--global-padding);
  position: relative;
}
.item:not(:last-of-type) {
  border-bottom: 1px solid var(--clr-light-grey);
}

.item .poster {
  width: 100%;
  transition: var(--transition);
}

.item .info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item .info b {
  width: min-content;
  white-space: nowrap;
  cursor: pointer;
  transition: var(--transition);
}
.item .info b:hover {
  color: var(--clr-theme);
}

.item .info .bottom-info {
  display: flex;
  flex-wrap: wrap;
  gap: var(--inner-gap);
}

/* CHECKED */

.item.checked .poster {
  opacity: 0.4;
}
.item.checked .title {
  color: var(--clr-light-grey);
  text-decoration: line-through;
}

/* CHECKBOX */

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;

  position: absolute;
  top: 50%;
  right: var(--global-padding);
  transform: translateY(-50%);

  width: 25px;
  height: 25px;
  border: 1px solid var(--clr-light-grey);
  border-radius: 6px;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  background: transparent;
}
input[type="checkbox"]:hover {
  border: 1px solid var(--clr-theme);
}
input[type="checkbox"]:checked {
  border: 1px solid var(--clr-theme);
  background-color: var(--clr-theme);
  background-image: url(../../public/icons/check-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

/* TRENDING MARKER */
.trending-marker {
  position: absolute;
  top: var(--global-padding);
  right: var(--global-padding);
  padding: 3px 8px;
  background: var(--clr-theme);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.trending-marker p {
  font-size: 11px;
  color: var(--clr-white);
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  input[type="checkbox"] {
    top: var(--inner-gap);
    right: var(--inner-gap);
    transform: none;
  }
  .trending-marker {
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
  }
  .item .info .bottom-info {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  .item {
    padding: var(--inner-gap);
  }
  .item .info b {
    padding-right: 25px;
    white-space: wrap;
    width: auto;
  }
}
