.navbar {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(0px, 500px) 1fr;
  align-items: center;
  gap: var(--inner-gap);
  padding: var(--inner-padding);
  background: var(--clr-theme);
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
}

.navbar form {
  max-width: 500px;
  min-width: 0;
  height: 100%;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  gap: 15px;
  align-items: center;
  padding: 5px 15px;
  background: var(--clr-light);
  border-radius: var(--border-radius);
}
.navbar form img {
  cursor: pointer;
}

.navbar form input {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  min-width: 100%;
  max-width: none;
  min-width: 0;
  background: transparent;
  color: var(--clr-white);
}
.navbar form input::placeholder {
  color: var(--clr-white) !important;
}
.navbar form input:focus {
  outline: none;
}

.navbar button {
  justify-self: end;
}

.navbar button:nth-of-type(1) img {
  width: 16px;
}

/* MENU */

.menu-tab {
  position: absolute;
  top: calc(100% + var(--global-gap));
  right: 0;
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
}
.menu-item {
  width: 100%;
  padding: 1rem 2rem;
  color: var(--clr-black);
  background: var(--clr-white);
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
}
.menu-item:hover {
  background: var(--clr-theme);
}

/* MEDIA QUERIES */

@media screen and (max-width: 640px) {
  .navbar {
    grid-template-columns: 1fr min-content;
  }
  .navbar .filler {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .navbar form {
    gap: 10px;
  }
  .navbar .btn:hover {
    background: var(--clr-white);
  }
}
